### COME UP WITH 1 EXAMPLE FOR ALL DATA STRUCTURES RELATED FUNCTIONS

### 1.LIST
- Lists are one of the most versatile data types that allow us to work with multiple elements at one
- List is a 1-D data
- list can contain duplicate values.
- list is indexable
- list is sliceable
- list is mutable
- list can add elements into it.
- list is a heterogenous data

In [1]:
# 1. append()-The append() method adds an item to the end of the list.

languages=["Telugu","Hindi","English"]
languages.append("kanada")
print("languages known:",languages)

languages known: ['Telugu', 'Hindi', 'English', 'kanada']

In [2]:
#2. clear()- The clear() method removes all items from the list.

biryani=["veg biryani","mushroom biryani","chicken biryani","egg biriyani"]
print("Types of biryanis:",biryani)
biryani_update=biryani.clear()
print("Types of biryanis updated:",biryani_update)

Types of biryanis: ['veg biryani', 'mushroom biryani', 'chicken biryani', 'egg biriyani']
Types of biryanis updated: None

In [3]:
#3. copy()- The copy() method returns a shallow copy of the list.

numbers=[2,4,6,8,5,7,11]
print("NUMBERS:",numbers)
print("==========================================")
new_numbers=numbers.copy()
print("NEW NUMBERS:",new_numbers)

NUMBERS: [2, 4, 6, 8, 5, 7, 11]
==========================================
NEW NUMBERS: [2, 4, 6, 8, 5, 7, 11]

In [4]:
#4. count()-The count() method returns the number of times the specified element appears in the list.

dept=["marketing","finance","accounts","service","HR","marketing","finance","finance"]
print("THE TOTAL DEPARTMENT LIST:",dept)
print("==========================================")
print("THE COUNT OF FINANCE DEPARTMENT IN LIST IS:",dept.count("finance"))

THE TOTAL DEPARTMENT LIST: ['marketing', 'finance', 'accounts', 'service', 'HR', 'marketing', 'finance', 'finance']
==========================================
THE COUNT OF FINANCE DEPARTMENT IN LIST IS: 3

In [5]:
#5. extend()-The extend() method adds all the elements of an iterable (list, tuple, string etc.) to the end of the list.

even_num=[2,4,6,8,10]
print("EVEN NUMS:",even_num)
odd_num=[1,3,5,7,9]
print("ODD NUMS:",odd_num)
even_num.extend(odd_num)
print("NEW_NUM:",even_num)
print("====================================")
odd_num.extend(even_num)
print("NEW NUMS:",odd_num)

EVEN NUMS: [2, 4, 6, 8, 10]
ODD NUMS: [1, 3, 5, 7, 9]
NEW_NUM: [2, 4, 6, 8, 10, 1, 3, 5, 7, 9]
====================================
NEW NUMS: [1, 3, 5, 7, 9, 2, 4, 6, 8, 10, 1, 3, 5, 7, 9]

In [6]:
#6. index() -The index() method returns the index of the specified element in the list.

fruits=["apple","banana","mango","watermelon","papaya"]

fruits.index("watermelon")

3

In [7]:
#7. insert -The insert() method inserts an element to the list at the specified index.

fruits=["apple","banana","mango","watermelon","papaya"]
fruits.insert(3,'kiwi')
print("TYPES OF FRUITS:",fruits)

TYPES OF FRUITS: ['apple', 'banana', 'mango', 'kiwi', 'watermelon', 'papaya']

In [8]:
#8. pop()-The pop() method removes the item at the given index from the list and returns the removed item.

fruits=["apple","banana","mango","watermelon","papaya"]
fruits.pop(4)
print("TYPES OF FRUITS:",fruits)

TYPES OF FRUITS: ['apple', 'banana', 'mango', 'watermelon']

In [9]:
#9. remove()-The remove() method removes the first matching element (which is passed as an argument) from the list.

fruits=["apple","banana","mango","watermelon","papaya"]
fruits.remove('mango')
print("TYPES OF FRUITS:",fruits)

TYPES OF FRUITS: ['apple', 'banana', 'watermelon', 'papaya']

In [10]:
#10. reverse()-The reverse() method reverses the elements of the list.

fruits=['apple', 'banana', 'mango', 'kiwi', 'watermelon', 'papaya']
fruits.reverse()
print("THE REVERSE ORDER OF FRUITS ARE:",fruits)

THE REVERSE ORDER OF FRUITS ARE: ['papaya', 'watermelon', 'kiwi', 'mango', 'banana', 'apple']

In [11]:
#11. sort()-The sort() method sorts the elements of a given list in a specific ascending or descending order.

fruits=['apple', 'banana', 'mango', 'kiwi', 'watermelon', 'papaya']
fruits.sort()
print("THE TYPES OF FRUITS:",fruits)

THE TYPES OF FRUITS: ['apple', 'banana', 'kiwi', 'mango', 'papaya', 'watermelon']

### 2. TUPLE

- It is 1-D data
- It is indexable/sliceable
- It is immutable data
- It heterogenous data
-

In [12]:
#1. count()-count returns the number of times a specified value occurs in a tuple
vegetables=('potato','carrot','onion','mirchi','beans','carrot','beans','carrot')
vegetables.count('carrot')

3

In [13]:
#2. index()-index is used to search the tuple for a specified value and returns the position of where it was found
vegetables=('potato','carrot','onion','mirchi','beans')
vegetables.index('carrot')

1

### 3.SETS
- It has no duplicates
- Indexing is not possible and slicing is also not possible
- It is mutable
- It is 1-D data
- It is heterogenous data
-

In [14]:
#1. add() - Adds an element to the set.If the element already exists, the add() method does not add the element.

sweet={'oats','almond','cashew','banana','milk','cashew'}
sweet.add('sugar')
sweet

{'almond', 'banana', 'cashew', 'milk', 'oats', 'sugar'}

In [15]:
#2. clear() - The clear() method removes all elements in a set.
sweet={'oats','almond','cashew','banana','milk','cashew'}
sweet.clear()
sweet

set()

In [16]:
#3. copy() - The copy() method copies the set.
sweet={'oats','almond','cashew','banana','milk','cashew'}
sweets=sweet.copy()
sweets

{'almond', 'banana', 'cashew', 'milk', 'oats'}

In [17]:
#4. difference() - The difference() method returns a set that contains the difference between two sets.
sweet={'oats','almond','cashew','banana','milk','cashew'}
diary_milk={'fruit and nut','choclate','almond','bubbly'}
print(sweet.difference(diary_milk))
print(diary_milk.difference(sweet))

{'milk', 'banana', 'cashew', 'oats'}
{'fruit and nut', 'choclate', 'bubbly'}

In [18]:
#5. difference_update()-The difference_update() method removes the items that exist in both sets.
sweet={'oats','almond','cashew','banana','milk','cashew'}
diary_milk={'fruit and nut','choclate','almond','bubbly'}
sweet.difference_update(diary_milk)
print(sweet)
diary_milk.difference_update(sweet)
print(diary_milk)

{'milk', 'cashew', 'banana', 'oats'}
{'fruit and nut', 'almond', 'choclate', 'bubbly'}

In [19]:
#6. discard() - The discard() method removes the specified item from the set.

sweet={'oats','almond','cashew','banana','milk','cashew'}
sweet.discard('milk')
print(sweet)

{'almond', 'cashew', 'banana', 'oats'}

In [20]:
#7. intersection() - The intersection() method returns a set that contains the similarity between two or more sets.

sweet={'oats','almond','cashew','banana','milk','cashew'}
diary_milk={'fruit and nut','choclate','almond','bubbly'}
print(sweet.intersection(diary_milk))

{'almond'}

In [21]:
#8. instersection_update() - The intersection_update() method removes the items that is not present in both sets (or in all sets if the comparison is done between more than two sets).

sweet={'oats','almond','cashew','banana','milk','cashew'}
diary_milk={'fruit and nut','choclate','almond','bubbly'}
sweet.intersection_update(diary_milk)
print(sweet)
diary_milk.intersection_update(sweet)
print(diary_milk)

{'almond'}
{'almond'}

In [22]:
#9. isdisjoint() - The isdisjoint() method returns True if none of the items are present in both sets, otherwise it returns False.

sweet={'oats','almond','cashew','banana','milk','cashew'}
diary_milk={'fruit and nut','choclate','almond','bubbly'}
sweets=sweet.isdisjoint(diary_milk)
print(sweets)
diarymilk=diary_milk.isdisjoint(sweet)
print(diarymilk)

False
False

In [23]:
#10. issubset() - The issubset() method returns True if all items in the set exists in the specified set, otherwise it retuns False.

fruits_01={'banana','apple','orange','papaya','kiwi'}
fruits_02={'apple','orange','papaya'}
fruits=fruits_02.issubset(fruits_01)
print(fruits)

True

In [24]:
#11. issuperset() - The issuperset() method returns True if all items in the specified set exists in the original set, otherwise it retuns False.

fruits_01={'banana','apple','orange','papaya','kiwi'}
fruits_02={'apple','orange','papaya'}

fruits=fruits_01.issuperset(fruits_02)
print(fruits)

True

In [25]:
#12. pop() - The pop() method removes a random item from the set and returns it as output.

fruits={'banana','apple','orange','papaya','kiwi'}
fruits.pop()

'orange'

In [26]:
#13. remove() - The remove() method removes the specified element from the set.

veggies ={'potato','tomato','brinjal','capsicum'}

veggies.remove("tomato")
print(veggies)

{'potato', 'capsicum', 'brinjal'}

In [27]:
#14. symmetric_difference() -  The symmetric_difference() method returns a set that contains all items from both set, but not the items that are present in both sets.

fruits={'banana','apple','orange','papaya','kiwi','carrot'}
veggies ={'potato','tomato','brinjal','capsicum','papaya'}

print(fruits.symmetric_difference(veggies))
print(veggies.symmetric_difference(fruits))

{'potato', 'apple', 'banana', 'brinjal', 'carrot', 'tomato', 'orange', 'kiwi', 'capsicum'}
{'potato', 'apple', 'banana', 'brinjal', 'carrot', 'tomato', 'orange', 'kiwi', 'capsicum'}

In [28]:
#15. symmetric_difference_update() - The symmetric_difference_update() method updates the original set by removing items that are present in both sets, and inserting the other items.
fruits={'banana','apple','orange','papaya','kiwi','carrot'}
veggies ={'potato','tomato','brinjal','capsicum','papaya'}

fruits.symmetric_difference_update(veggies)
fruits

{'apple',
 'banana',
 'brinjal',
 'capsicum',
 'carrot',
 'kiwi',
 'orange',
 'potato',
 'tomato'}

In [29]:
#16. union() - The union() method returns a set that contains all items from the original set, and all items from the specified set(s).
fruits={'banana','apple','orange','papaya','kiwi','carrot'}
veggies ={'potato','tomato','brinjal','capsicum','papaya'}
fruits.union(veggies)

{'apple',
 'banana',
 'brinjal',
 'capsicum',
 'carrot',
 'kiwi',
 'orange',
 'papaya',
 'potato',
 'tomato'}

In [30]:
#17. update() - The update() method updates the current set, by adding items from another set (or any other iterable).

fruits={'banana','apple','orange','papaya','kiwi','carrot'}
veggies ={'potato','tomato','brinjal','capsicum','papaya'}

fruits.update(veggies)
print(fruits)

{'tomato', 'potato', 'orange', 'apple', 'banana', 'papaya', 'brinjal', 'carrot', 'kiwi', 'capsicum'}

### 4. DICT

- It is a **key -value** pair
- it is represented by {}
- it is indexable
- it is mutable
- cannot contain duplicate keys
- cannot contain duplicate values
- it is not slicable
- heterogenous
- 2D

In [31]:
#1. clear() - The clear() method removes all the elements from a dictionary.

languages={1:'PYTHON',2:'C',3:'C++',4:'JAVA',5:'HTML'}
print(languages)
languages.clear()
print(languages)

{1: 'PYTHON', 2: 'C', 3: 'C++', 4: 'JAVA', 5: 'HTML'}
{}

In [32]:
#2. copy() - The copy() method returns a copy of the specified dictionary.

languages={1:'PYTHON',2:'C',3:'C++',4:'JAVA',5:'HTML'}
print(languages)
print("===========================")
lang=languages.copy()
print(lang)

{1: 'PYTHON', 2: 'C', 3: 'C++', 4: 'JAVA', 5: 'HTML'}
===========================
{1: 'PYTHON', 2: 'C', 3: 'C++', 4: 'JAVA', 5: 'HTML'}

In [33]:
#3. fromkeys() - The fromkeys() method returns a dictionary with the specified keys and the specified value.

number={1,2,3,4,5}
language={'PYTHON','C','C++','JAVA','HTML'}
dict.fromkeys(number,language)

{1: {'C', 'C++', 'HTML', 'JAVA', 'PYTHON'},
 2: {'C', 'C++', 'HTML', 'JAVA', 'PYTHON'},
 3: {'C', 'C++', 'HTML', 'JAVA', 'PYTHON'},
 4: {'C', 'C++', 'HTML', 'JAVA', 'PYTHON'},
 5: {'C', 'C++', 'HTML', 'JAVA', 'PYTHON'}}

In [34]:
#4. get() -  The get() method returns the value of the item with the specified key.

languages={1:'PYTHON',2:'C',3:'C++',4:'JAVA',5:'HTML'}
print(languages.get(1))
print(languages.get(4))

PYTHON
JAVA

In [35]:
#5. items() - The items() method returns a view object. The view object contains the key-value pairs of the dictionary, as tuples in a list.

languages={1:'PYTHON',2:'C',3:'C++',4:'JAVA',5:'HTML'}
print(languages.items())
languages[3]='oops'
languages

dict_items([(1, 'PYTHON'), (2, 'C'), (3, 'C++'), (4, 'JAVA'), (5, 'HTML')])

{1: 'PYTHON', 2: 'C', 3: 'oops', 4: 'JAVA', 5: 'HTML'}

In [36]:
#6. keys() - The keys() method returns a view object. The view object contains the keys of the dictionary, as a list.The view object will reflect any changes done to the dictionary.

languages={1:'PYTHON',2:'C',3:'C++',4:'JAVA',5:'HTML'}
print(languages.keys())

languages[6]="oops"
languages

dict_keys([1, 2, 3, 4, 5])

{1: 'PYTHON', 2: 'C', 3: 'C++', 4: 'JAVA', 5: 'HTML', 6: 'oops'}

In [37]:
#7. pop() - The pop() method removes the specified item from the dictionary.

languages={1:'PYTHON',2:'C',3:'C++',4:'JAVA',5:'HTML'}
print(languages.pop(2))

C

In [38]:
#8.popitem() - The popitem() method removes the item that was last inserted into the dictionary.

languages={1:'PYTHON',2:'C',3:'C++',4:'JAVA',5:'HTML'}
print(languages.popitem())

(5, 'HTML')

In [39]:
#9. setdefault() - The setdefault() method returns the value of the item with the specified key.

languages={1:'PYTHON',2:'C',3:'C++',4:'JAVA',5:'HTML'}
print(languages.setdefault(6,'oops'))
languages

oops

{1: 'PYTHON', 2: 'C', 3: 'C++', 4: 'JAVA', 5: 'HTML', 6: 'oops'}

In [40]:
#10. update() - The update() method inserts the specified items to the dictionary.

languages={1:'PYTHON',2:'C',3:'C++',4:'JAVA',5:'HTML'}
languages.update({6:'oops'})
languages

{1: 'PYTHON', 2: 'C', 3: 'C++', 4: 'JAVA', 5: 'HTML', 6: 'oops'}

In [41]:
#11.values() -  The values() method returns a view object. The view object contains the values of the dictionary, as a list.

languages={1:'PYTHON',2:'C',3:'C++',4:'JAVA',5:'HTML'}
languages.values()

dict_values(['PYTHON', 'C', 'C++', 'JAVA', 'HTML'])